@model AnnotateIndexModel
<input id="ListIndex" value="0" type=""/>
<button type="button" id="AddLine" class="btn btn-success" data-line-Index="0" >Add Line</button>
<button type="button" id="AddCircle" class="btn btn-success" data-line-Index="0" >Add Circle</button>
<button type="button" id="AddText" class="btn btn-success" data-line-Index="0" >Add Text</button>
<button type="button" id="AddRectangle" class="btn btn-success" data-line-Index="0">Add Rectangle</button>
<button type="button" id="save"> save</button>
<canvas style="width: 80vw; height: 100vh" id="canvas"></canvas>
<img id="myImage" style="display: none; width: 10vw;" src="@Url.Content($"~/Images/{Model.Path}" )" />

@*<img style="width: 50vw;" id="image" src="" />*@


@*
    all movements will be saved as percentages x = 0% left x = 100% right, y = 0% Top y = 100% bottom
    will convert values to inches inside server when pdf size is found

*@
@section Scripts{ 

    <script data-for="ServerDump">
    var imageName = "@Url.Content($"~/Images/{Model.Path}")"
    var anno_annotatePDFPercent = "@Url.Action(nameof(AnnotateApi.AnnotatePdfPercentCords), "AnnotateApi")"
    </script>
<script src="@Url.Content("~/js/fabricF.js")"></script>
<script src="@Url.Content("~/js/PDFAnnotation.js")"></script>
}